python-binance
psycopg[binary]==3.2.4
mexc-api
python-okx
/tmp/ccxt-4.4.77-py2.py3-none-any.whl
aiohttp==3.11.18
apache-airflow-providers-apache-kafka
confluent-kafka==2.10.0
kafka-python
aiokafka==0.12.0